.catalogo-titulo {
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    line-height: 1.6; 
}
.titulo-container{
   
    background-color: #923B3B;
    width: 100%;
    height: 6rem;
    


}

.catalogo-container {
    text-align: center;
  }
  
  .catalogo-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  */
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .catalogo-item {
    overflow: hidden;
    padding: 3rem;
    text-align: center;
  
  }
  
  .catalogo-img-container {
    width: 100%; /* Ancho máximo del contenedor */
    height: 400px; /* Altura fija para todas las imágenes */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
   
    overflow: hidden; /* Oculta contenido que exceda el contenedor */
  }
  
  .catalogo-img {
    max-width: 100%; /* La imagen se adapta al ancho del contenedor */
    max-height: 100%; /* La imagen se adapta a la altura del contenedor */
    object-fit: contain; /* Mantiene las proporciones de la imagen */
  }
  