/* T칤tulo de la secci칩n del cat치logo */
.catalogo-titulo {
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  line-height: 1.6; 
  font-size: 2.5rem;
}

/* Contenedor de t칤tulo */
.titulo-container {
  background-color: #923B3B;
  width: 100%;
  height: 6rem;
}

/* Contenedor general del cat치logo */
.catalogo-container {
  text-align: center;
  
}




/* Estilos de cada 칤tem en el cat치logo */
.catalogo-item {
  display: flex;
  flex-direction: row; /* Imagen y texto lado a lado */
  align-items: center; /* Centra los elementos verticalmente */
  gap: 2rem;
  padding: 3rem;
  text-align: left;
}

/* Contenedor de la imagen */
.catalogo-img-container {
  width: 50%;
  height: 400px; /* Altura fija para todas las im치genes */
  background-color: #fff; /* Asegura un fondo uniforme */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.catalogo-text-container {
  padding: 2rem;
  width: 50%;
}
/* Estilo para las im치genes */
.catalogo-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantiene las proporciones de la imagen */
}

/* T칤tulo de cada 칤tem */
.title-item {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 600;
  color: #923B3B;
  margin-bottom: 2rem;
}

/* Descripci칩n de cada 칤tem */
.paragraph-item {
  font-family: "Be Vietnam Pro", serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.paragraph-item a {
  color: #547FC4; /* Color azul */
  font-weight: 600; /* Negrita */
  text-decoration: none; /* Quitar subrayado */
  transition: color 0.3s ease;
}

.paragraph-item a:hover {
  color: #923B3B; /* Cambia de color al pasar el mouse */
  text-decoration: underline; /* Subrayado al hacer hover */
}

/* Responsividad */
@media (max-width: 1024px) {
  .catalogo-item {
    flex-direction: column; /* Apila la imagen y el texto */
    text-align: center;
  }

  .catalogo-img-container,
  .catalogo-text-container {
    width: 100%; /* Las im치genes y el texto ocupar치n toda la pantalla */
  }
}

/* 游늷 Ajustes en pantallas peque침as */
@media (max-width: 768px) {
  .catalogo-titulo {
    font-size: 1.5rem;
  }

  .titulo-container {
    height: auto;
    padding: 1rem;
  }

  .title-item {
    font-size: 1.5rem;
  }

  .paragraph-item {
    font-size: 1rem;
  }

  .catalogo-img-container {
    height: 300px; /* Reduce la altura en pantallas m치s peque침as */
  }
}

/* 游늷 Ajustes en m칩viles */
@media (max-width: 480px) {
  .catalogo-titulo {
    font-size: 1.3rem;
  }

  .title-item {
    font-size: 1.3rem;
  }

  .paragraph-item {
    font-size: 0.9rem;
  }

  .catalogo-img-container {
    height: 200px; /* Im치genes m치s peque침as en m칩viles */
  }
}