/* Título de la sección del catálogo */
.catalogo-titulo {
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  line-height: 1.6; 
}

/* Contenedor de título */
.titulo-container {
  background-color: #923B3B;
  width: 100%;
  height: 6rem;
}

/* Contenedor general del catálogo */
.catalogo-container {
  text-align: center;
}

/* Grilla del catálogo */
.catalogo-grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: 1fr; /* Usar una sola columna */
}


/* Grilla del catálogo - Cambiar la disposición a una columna */
.catalogo-grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: 1fr; /* Usar una sola columna */
}


/* Estilos de cada ítem en el catálogo */
.catalogo-item {
    overflow: hidden;
    padding: 3rem;
    text-align: center;
}

/* Contenedor de la imagen */
.catalogo-img-container {
  width: 100%;
  height: 400px; /* Altura fija para todas las imágenes */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

/* Estilo para las imágenes */
.catalogo-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantiene las proporciones de la imagen */
}

/* Título de cada ítem */
.title-item {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 600;
  color: #923B3B;
  padding: 2rem;
}

/* Descripción de cada ítem */
.paragraph-item {
  font-family: "Be Vietnam Pro", serif;
  font-size: 1.2rem;
}

/* Responsividad */
@media (max-width: 768px) {
  .catalogo-titulo {
      font-size: 1.5rem; /* Ajusta el tamaño del título para pantallas más pequeñas */
      padding: 0.5rem;
  }

  .titulo-container {
      height: auto; /* Ajuste de altura en pantallas pequeñas */
  }

  .catalogo-grid {
    .catalogo-grid {
      grid-template-columns: 1fr; /* Asegura que haya solo una columna incluso en pantallas más grandes */
  
  }
}

  .title-item {
      font-size: 1.5rem; /* Título más pequeño */
      padding: 1rem;
  }

  .paragraph-item {
      font-size: 1rem; /* Ajuste de tamaño de texto */
  }

  .catalogo-img-container {
      height: 250px; /* Ajusta la altura de las imágenes en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .catalogo-titulo {
      font-size: 1.3rem;
      padding: 0.5rem;
  }

  .title-item {
      font-size: 1.3rem; /* Título aún más pequeño */
      padding: 0.5rem;
  }

  .paragraph-item {
      font-size: 0.9rem; /* Texto más pequeño en pantallas muy pequeñas */
  }

  .catalogo-img-container {
      height: 200px; /* Imágenes aún más pequeñas */
  }

  .catalogo-grid {
      grid-template-columns: 1fr; /* Una sola columna en pantallas muy pequeñas */
  }
}
