

.titulo-contacto {
    font-size: 2.5rem;
    font-family: "Lora", serif;
    font-weight: 600;

}

.texto-contacto {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-size: 1rem;
  
}

.formulario input, 
.formulario textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Be Vietnam Pro", serif;
}



textarea {
    height: 150px;
    resize: none;
}

button {
      font-family: "Be Vietnam Pro", serif;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #333;
    transform: scale(1.05);
}

