.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.titulo-contacto {
    font-size: 2.5rem;
    font-family: "Lora", serif;
    font-weight: 600;
    padding: 2rem; 
}

.texto-contacto {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 600px; 
}

.formulario input, 
.formulario textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Be Vietnam Pro", serif;
}



textarea {
    height: 150px;
    resize: none;
}

button {
    width: 100%;
    font-family: "Be Vietnam Pro", serif;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 480px) {
    .contacto {
        padding: 1rem;
    }

    .titulo-contacto {
        font-size: 2rem;
        padding: 1rem; /* Reduce el espacio extra en móviles */
    }

    .texto-contacto {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .formulario {
        max-width: 100%;
    }

    input, textarea {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem;
    }
}
