.titulo-container{
    background-color: #923B3B;

  }

  .titulo-descargables {
    color: rgb(255, 255, 255);
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    line-height: 1.6; 
    font-size: 2.5rem;
  }



.card-body {
  font-family: "Be Vietnam Pro", serif;
}