.header {
    height: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 0 2rem;
}

.logo {
    height: 9rem;
    width: auto;
    margin-left: 2rem; 
}

.title {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 4rem;
    text-align: right;
    color:#923B3B;
    margin-right: 1rem; 
    text-decoration: none !important
}