
.logo {
    height: 8rem; 
    width: auto;
 }

.title {
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 4rem;
    color: #923B3B;
    text-decoration: none !important;
}


@media (max-width: 480px) {
    .title {
        font-size: 2rem; 
    }


}
