

.custom-slide {
  background-color: #923B3B; 
  transition: background-color 0.3s ease; 
}

.custom-slide:hover {
  transform: scale(1.02); 
  transition: transform 0.3s ease;
  background-color: #803434; /* Cambio de color de fondo en hover */
}


/* Contenedor del texto */
.text-container {

  color: #f4f4f4; /* Color del texto */

}

.lable {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  font-weight: 600;
}

.description {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  font-size: 1rem;
}

.image-container {
  width: 350px; /* Ancho máximo del contenedor */
  height: 350px; /* Altura máxima del contenedor */
  overflow: hidden; /* Oculta el exceso si la imagen es más grande */
}

