
  /* 🔹 Título de la ficha */
  .ficha-titulo {
    color: rgb(255, 255, 255);
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 2.5rem;
  }
  
  /* 🔹 Contenedor del título */
  .titulo-container {
    background-color: #923B3B;
  }

  .ficha-img-container {
      height: 400px; /* Tamaño uniforme */
  
  }
  

  .title-item {
    font-family: "Lora", serif;
      color: #923B3B;
    margin-bottom: 2rem;
  }
  

  .paragraph-item {
    font-family: "Be Vietnam Pro", serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .custom-link {
    color: #923B3B;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .custom-link:hover {
    color: #700000;
  }

  
  .card {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-container {

    height: 200px;
    background-color: #f4f4f4;
   }

  .card-title {
    font-family: "Be Vietnam Pro", serif;;
    font-size: 1.5rem;
    color: #333;
  }
  

  

   

  