/* Título principal */
.title-NF {
    font-family: "Lora", serif;
    font-size: 7rem;
  }
  
  /* Texto secundario */
  .text-NF {

    font-family: "Be Vietnam Pro", serif;
    font-size: 2.5rem;
  }


  
  @media (max-width: 480px) {
    .title-NF {
      font-size: 3rem; /* Ajuste más pequeño en pantallas pequeñas */
    }
  
    .text-NF {
      font-size: 1.5rem; /* Ajuste del texto secundario en pantallas pequeñas */
    }
  
    .volver {
      margin-bottom: 1rem; /* Reduce el espacio inferior aún más */
    }
  }
  